body {
	background-color: #2e3440;
	color: white;
}

a {
	color: #88c0d0
}
.navbar-custom {
	background-color: #3b4252;
	color: white;
}
p {
	font-size: 2vw;
}

#about-me {
	background-color:  #2e3440;
	color: white;	
}

#skills {
	background-color:  #3b4252;
	color: white;	
}
#projects {
	background-color:  #2e3440;
	color: white;	
}
#resume {
	background-color:  #3b4252;
	color: white;	
}

.txt-bio {
	padding-bottom: 10%;
}

.txt-header {
	font-size: 8vw;
	padding: 10% 0 10% 0;
}

#header2, #header4 {
	text-align: right;
}

h4 {
	font-size: 3vw;
}

.skills {
	padding: 10% 0 25% 0;
}

.linebr {
	padding-bottom: 10%;
}

.img-project {
	padding-top: 10%;
	padding-bottom: 10%;
}
.img-banner {
	mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
	-webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

@media only screen and (max-width: 645px) {
.img-banner {
	padding-top: 25px;
}	
}
@media only screen and (max-width: 400px) {
.img-banner {
	padding-top: 50px;
}	
}

button {
background-color: #88c0d0;
}

.contact-link {
	color: black;
}

i {
	color: white;
}

i:hover {
	color: #88c0d0;
}
